#axiss-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: linear-gradient(135deg, #00ffd5, #00443a);
    cursor: pointer;
    border: 2px solid #1a242f;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: auto; /* Lo empuja a la derecha */
}

#axiss-avatar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--accent);
}
